body {
    background-color: #ccc;
}

.btn1 {
    width: 20%;
}

.btn2{
    width: 15%;
}

.subtittle{
    color:black;
}

.prompt{
    color: black;
}

.list{
    color: black;
    list-style-type: disc;
    text-align: left;
    width: 60%;
}

.reg{
    color: black;
    
    text-align: left;
}